.App {
  margin:0;
  padding:0;
}

hr{
  border: 0;
  width: 96%;               
  height: 1px;
  background-color: #F6F6F7;
}

.ProductAllInfo{
  display: flex;
  flex-flow: row wrap;
  column-gap:15.8vmin;
  row-gap: 5vmin;
  justify-content: center;
  margin-top: 10.95vmin;
  margin-bottom: 10vmin;
}

.NaviBar {
  display: flex;
  flex-flow: row wrap;
  background-color: #F6F6F7;
  height: 30px;
  width: 100vw;
  margin-top: 2.3vh;
}

#cartContainer{
  display: flex;
  position: static;
  flex-flow: column wrap;
  right: 5px;
  width: 340px;
  height: auto;
  margin-left: 68vw;
  clear: both;
}

#cartBtn{
  display:block;
  border: 0;
  background: none;
  box-shadow: none;
  color:#888888;
  border-radius: 0px;
  padding: 7px 10px;
  width: fit-content;
  height: 30px;
  margin-left: auto;
  z-index: 1;
}

#cartBtn:hover{
  cursor:pointer;
}

.ProductImg{
  width: 52vmin;
}
.ProductInfo{
  width: 52vmin;
  display: flex;
  flex-flow: column wrap;
}
.ProductInfo > span,small{
  margin-bottom: 10px;
}

.ProductName{
  font-size:x-large;
  font-weight:normal;
}
.ProductDesc{
  color: #888888;
  line-height: 1.6;
}

.ProductSizeSelector{
  position:static;
  margin-top: 15px;
}

.ProductSizeSelector > div{
  color: #888888;
  margin-bottom: 15px;
}

#asterisk{
  color: #C90000;
}

#chosenSize{
  color: black;
}

.SizeOptions{
  display: flex;
  flex-flow: row wrap;
}

.SizeOptions > button {
  border: 1px solid #CCCCCC;
  background-color: white;
  margin-right: 5px;
  color: #888888;
  padding: 12px 15px;
  font-size: small;
}

.SizeOptions > button:hover{
  cursor: pointer;
}

.AddtoCartBtn{
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: white;
  border: 3px solid black;
  padding: 7px 20px;
  margin-top: 5px;
  font-size: medium;
  font-weight: bold;
}

.AddtoCartBtn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

#shopCart{
  display: none;
  flex-flow: column wrap;
  width: 90%;
  height: auto;
  margin-top: -1px;
  padding: 6%;
  row-gap: 25px;
  background-color: white;
  border: 1px solid #CCCCCC;
}

#shopCart > div {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5%;
  width: 100%;
  height: auto;
}

#shopCart > div > img,.CartItemInfo{
  display: flex;
  flex-flow: column wrap;
}

#shopCart > div > img{
  width: auto;
  height: 120px;
}

#shopCart > div > .CartItemInfo{
  width: 60%;
  height: auto;
  padding: 0 5%;
  gap: 10px;
}