.App {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.NaviBar {
  display: flex;
  flex-flow: row wrap;
  background-color: #F6F6F7;
  height: 30px;
  width: 100vw;
  margin-top: 2.3vh;
}

.CartBtn{
  border: 0;
  background: none;
  box-shadow: none;
  color:#888888;
  border-radius: 0px;
  height:100%;
  margin-left: 81vw;
}

.CartBtn:hover{
  cursor:pointer;
}

.App-link {
  color: #61dafb;
}
